* {
  box-sizing: border-box;
}

body {
  background-color: #fff0f5;
  text-align: center;
}

h2 {
  margin: 15px 0;
  color: #ff69b4;
  font-size: 24px;
}

.container {
  width: 50%;
  margin: auto;
}

table {
  margin: auto;
}

table td {
  border: 1px dotted #DB7093;
}