*{
  box-sizing: border-box;
}
input{
  margin: 5px 0;
}
.upload{
  width: 30%;
  background-color: #F5F5DC;
  margin: auto;
  text-align: center;
  padding: 10px;
}
.container{
  width: 20%;
  height: 200px;
  padding: 10px;
  float: left;
}
.thumbnail {
  height: 80%;
}
.thumbnail img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.del-btn{
  display: block;
  margin: 10px auto;
  cursor: pointer;
}