body {
  text-align: center;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.login-form {
  display: block;
  width: 20%;
  margin: auto;
  padding: 20px 0;
  border: 1px solid #000000;
  background-color: #F5F5DC;
  text-align: center;
}

.login-form input:last-of-type {
  margin-top: 20px;
}

#heading {
  padding: 20px;
  color: #008B8B;
  font-size: 32px;
}

.btn {
  margin-top: 20px;
  padding: 5px 10px;
  border: 1px solid #000000;
  background-color: #ffffff;
  color: #000000;
}

.error {
  display: block;
  color: #ff0000;
}

.error-container {
  padding: 20px;
}

.invalid {
  padding: 5px;
  color: #ff0000;
}
