body {
  text-align: center;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.login-form {
  display: block;
  width: 20%;
  margin: 100px auto;
  padding: 20px 0;
  border: 1px solid #000000;
  background-color: #F5F5DC;
  text-align: center;
}

.login-form input {
  margin-bottom: 10px;
}

#heading {
  padding: 20px;
  color: #008B8B;
  font-size: 32px;
}

.btn {
  padding: 5px 10px;
  border: 1px solid #000000;
  background-color: #ffffff;
  color: #000000;
}

.error {
  color: #ff0000;
}
