a {
  text-decoration: none;
}

.qr-form {
  width: 28.5%;
  margin: 10px auto;
  padding: 15px;
  background-color: #87CEFA;
  text-align: center;
}

.qr-form label {
  color: #ffffff;
}

.qr-form .require {
  margin: 10px 0;
  color: #DC143C;
  font-weight: 700;
  margin-left: 20%;
}

.submit {
  margin: 20px 0;
  padding: 5px;
  border: none;
  background-color: #ffffff;
  color: #87CEFA;
  cursor: pointer;
}

.qr-table {
  margin: auto;
  text-align: center;
}

.qr-table th,
.qr-table td {
  background-color: #87CEFA;
  padding: 10px 15px;

}

.qr-table th {
  color: #ffffff;
}

.qr-table p {
  color: #ffffff;
}

.del-btn {
  padding: 5px;
  background-color: #DC143C;
  color: #ffffff;
  cursor: pointer;
}
